<!-- /*
============================================
; Title: Exercise 9.2
; Author: Professor Krasso
; Date: 15 April 2020
; Modified By: Jonathan Kobyluck
; Description: Finalize MongoDB Integrations
;===========================================
*/ -->

<!DOCTYPE html>
<html>
<%- include("header") %>
<%- include("navbar") %>

<body>
  <div class="list-container">
    <div class="row">
      <div class="container no-entries">
        <% if (employees.length > 0) { %>
        <div>
          <h2 class="list-title">Employees</h2>
        </div>

        <div class="sidnav well-lg emp-list">
          <a href="/new">Add New</a>
          <ul><% employees.forEach(function(employees) { %>
            <li class="well emp-inst"><a href="/view/<%= employees.firstName %>"><%= employees.firstName %>
                <%= employees.lastName %></a></li>
            <% }) %>
          </ul>

          <% } else { %>
          No Entries! <a href="/new" style="font-size: x-large;">Add One!</a>
          <% } %>
        </div>
      </div>

    </div>
  </div>
</body>




<%- include ("footer") %>
<%- include ("scripts") %>

</html>
