<!-- /*
============================================
; Title: Exercise 8.4
; Author: Professor Krasso
; Date: 12 April 2020
; Modified By: Jonathan Kobyluck
; Description: MongoDB Integration
;===========================================
*/ -->

<!DOCTYPE html>
<html>
<%- include("header") %>
<%- include("navbar") %>

<div class="container">
  <% if (employees.length > 0) { %>
  <div class="row">
    <h2>Employee Listing</h2>
  </div>

  <div class="row">
    <a href="/new">Add New</a>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <% employees.forEach(function(employees) { %>
        <tr>
          <td><%= employees.firstName %></td>
          <td><%= employees.lastName %></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
    <% } else { %>
    No Entries! <a href="/new">Add One!</a>
    <% } %>
  </div>
</div>

<%- include ("footer") %>
<%- include ("scripts") %>

</html>
