<!-- /*
============================================
; Title: Exercise 8.4
; Author: Professor Krasso
; Date: 12 April 2020
; Modified By: Jonathan Kobyluck
; Description: MongoDB Integration
;===========================================
*/ -->

<!DOCTYPE html>
<html>
<%- include("header") %>
<%- include("navbar") %>

<br><br>

<div role="main" class="container">
  <br /><br />


  <form method="post" action="/process">
    <div class="form-group">
      <label for="txtName">First Name:</label>
      <input type="text" class="form-control" id="firstName" name="firstName" />
    </div>

    <div class="form-group">
      <label for="txtName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" name="lastName" />
    </div>

    <div class="form-group">
      <!-- CSRF token -->
      <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

      <button type="submit" class="btn btn-primary float-right">
        Submit
      </button>
    </div>
  </form>
</div>

<%- include ("footer") %>
<%- include ("scripts") %>

</html>
